ACCEPT_EULA=accept
CONTINUE_WITH_OPTIONAL_ERROR=yes
PSET_INSTALL_DIR=/opt/intel
CONTINUE_WITH_INSTALLDIR_OVERWRITE=yes
COMPONENTS=intel-icc__x86_64;intel-ifort__x86_64
PSET_MODE=install
ACTIVATION_SERIAL_NUMBER=<your serial number here>
ACTIVATION_TYPE=serial_number
SIGNING_ENABLED=yes
ARCH_SELECTED=ALL
